@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue-base: theme(colors.blue.base);
  }
}

@layer components {
    [data-progress-widget] {
      overflow-x: hidden;
      position: relative;
    }

    [data-progress-widget="true"]::before {
      content: "";
      position: absolute;
      top: 0;
      height: 2px;
      width: 35%;
      background: var(--blue-base);
      animation: lineProgress 1.3s  ease-in-out infinite;
    }

    input {
      box-shadow: 0 0 0px 100px white inset;
      -webkit-box-shadow: 0 0 0px 100px white inset;
    }
}

@keyframes lineProgress {
  0% { left: -35%; }
  100% { left: 135%; }
}